.Card, .Info {
    text-align: center;
}

.Info h3 {
    color: white;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 1.4em;
    letter-spacing: 0.03em;
}

.Info a {
    font-size: 1.2em;
    text-decoration: none;
    color: white;
    opacity: 0.6;
}
