.Artist {
    background-color: #1e1e1e;
}

.Artist h2 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 25px;
}

.ArtistInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    background-size: cover;
    background-position: center center;
    margin-bottom: 3em;
}

.ArtistInfo h1 {
    color: white;
    font-size: 5em;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.3px;
    margin-bottom: 1em;
}

.ArtistInfo p {
    text-align: center;
    color: white;
    font-size: 1.4em;
    opacity: 0.4;
    margin-bottom: 3em;
}

.Cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-row-gap: 3em;
    padding: 2em;
}

.FirstCard {
    margin-bottom: 3em;
}
