.Sidebar {
    background-color: black;
    padding-left: 2.5em;
    padding-top: 2.5em;
}

.UList li {
    display: block;
    color: white;
    margin-bottom: 2.5em;
    font-size: 2em;
    opacity: 0.6;
}

.UList li:hover {
    opacity: 1;
}

.UList li a {
    color: white;
    text-decoration: none;
    margin-left: 1em;
}

.Fixed {
    position: fixed;
}
