.Button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    font-weight: bold;
}

.Login {
    color: white;
    background-color: #1db954;
    width: 150px;
    border-radius: 25px;
}

.Login-Header {
    color: white;
    background-color: #1db954;
    width: 100px;
    border-radius: 25px;
    padding: 8.5px 0;
    margin-left: 20px;
    font-size: 20px;
    border-radius: 22px;
}


.Login-Hero {
    color: white;
    background-color: #1db954;
    width: 250px;
    border-radius: 22px;
    padding: 8.5px 0;
    margin-left: 100px;
    font-size: 2.25em;
}

.Login-Hero:hover {
    color: #1ed760;
    background-color: white;
}

.Login:hover {
    background-color: #1ed760;
}

