.Button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    font-weight: bold;
}

.Login {
    color: white;
    background-color: #1db954;
    width: 150px;
    border-radius: 25px;
}

.Login:hover {
    background-color: #1ed760;
}

.PlayPause {
    color: white;
    background-color: #1db954;
    width: 175px;
    border-radius: 35px;
    font-size: 1.5em;
    padding: 0.60em 0;
    margin: 1em 0;
}

.PlayPause:hover {
    transition: none 33ms cubic-bezier(.3,0,0,1);
    transition-property: all;
    transform: scale(1.06);
}

.Login-Header {
    color: white;
    background-color: #1db954;
    width: 100px;
    border-radius: 25px;
    padding: 8.5px 0;
    margin-left: 20px;
    font-size: 20px;
    border-radius: 22px;
}

.Login-Hero {
    color: white;
    background-color: #1db954;
    width: 250px;
    border-radius: 22px;
    padding: 8.5px 0;
    margin-left: 100px;
    font-size: 2.25em;
}

.Login-Hero:hover {
    color: #1ed760;
    background-color: white;
}

.PlaylistCancel {
    border: white solid 2px;
    background-color: #1E1E1E;
    opacity: 0.9;
    color: white;
    border-radius: 22px;
    width: 8em;
    font-size: 1.5em;
}

.PlaylistCancel:hover {
    background-color: white;
    color: black;
    opacity: 1;
}

.Save {
    color: white;
    background-color: #4298f4;
    border-radius: 25px;
    padding: 3px;
}

.Delete {
    color: white;
    background-color: red;
    border-radius: 25px;
    padding: 3px;
}





