.Header {
    padding: 25px 100px;;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Header a {
    text-decoration: none;
    color: white;
}

/* .RightHeader a{
    margin-left: 10px;
} */

.LeftHeader i {
    color: white;
    font-size: 40px;
}

.LeftHeader a {
    font-size: 40px;
    margin-left: 5px;
    font-weight: bold;
    letter-spacing: 0.1px;
}

.RightHeader {
    display: flex;
    flex-direction: row;    
    align-items: center;    
}

.RightHeader a {
    margin-left: 20px;
    font-size: 40px;
    display: flex;
    flex-direction: row;    
    align-items: center;    
}