.Header {
    padding: 25px 100px;;
    height: 9vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    grid-column: 1 / span 2;
}

.Header a {
    text-decoration: none;
    color: white;
}

.LeftHeader {
    display: flex;
    flex-direction: row;    
    align-items: center;
}

.LeftHeader i {
    color: white;
    font-size: 40px;
}

.LeftHeader a {
    font-size: 40px;
    margin-left: 5px;
    font-weight: bold;
    letter-spacing: 0.1px;
}

.RightHeader {
    display: flex;
    flex-direction: row;    
    align-items: center;    
}

.RightHeader a {
    margin-left: 20px;
    font-size: 40px;   
}